@font-face {
  font-family: 'Katwijk Mono Web';
  src: url('/fonts/katwijk-mono/katwijk-mono-regular-web.eot');
  src: url('/fonts/katwijk-mono/katwijk-mono-regular-web.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/katwijk-mono/katwijk-mono-regular-web.svg#katwijkmonoregular')
      format('svg'),
    url('/fonts/katwijk-mono/katwijk-mono-regular-web.woff2') format('woff2'),
    url('/fonts/katwijk-mono/katwijk-mono-regular-web.ttf') format('truetype');
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: 'Chrono';
  src: url('/fonts/chrono/ChronoWebBold.woff') format('woff'),
    url('/fonts/chrono/ChronoWebBold.eot') format('eot');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Chrono';
  src: url('/fonts/chrono/ChronoWebMedium.woff') format('woff'),
    url('/fonts/chrono/ChronoWebMedium.eot') format('eot');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Chrono';
  src: url('/fonts/chrono/ChronoWebRegular.woff') format('woff'),
    url('/fonts/chrono/ChronoWebRegular.eot') format('eot');
  font-weight: normal;
  font-style: normal;
}
