@font-face {
  font-family: 'Katwijk Mono Web';
  src: url('/katwijk-mono/katwijk-mono-regular-web.eot');
  src: url('/katwijk-mono/katwijk-mono-regular-web.eot?#iefix')
      format('embedded-opentype'),
    url('/katwijk-mono/katwijk-mono-regular-web.svg#katwijkmonoregular')
      format('svg'),
    url('/katwijk-mono/katwijk-mono-regular-web.woff2') format('woff2'),
    url('/katwijk-mono/katwijk-mono-regular-web.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
